.about{
    width: 300px;
    margin: 0 auto;
    text-shadow: 0 0 5px #666;
    color: #fff;
}

.cv{
    display: block;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
	background-color: #444;
	color: #eee;
	padding: 10px;
	letter-spacing: 2px;
	width: 100px;
	height: 25px;
	line-height: 25px;
}