.contact{
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    text-shadow: 0 0 5px #666;
}

.title {
    font-size: 30px;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
}

.hr {
    background-color: #ccc;
    width: 80%;
    height: 2px;
    margin: 20px auto;
}

.info{
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 25px 0;
    letter-spacing: 1px;
}