.home{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../images/homebg.jpg');
    background-size: cover;
    color: #fff;
    position: relative;
}

.nav{
    font-family: "Consolas",sans-serif; 
	height: 50px;
    margin-bottom: 150px;
	background-color: rgba(0,0,0,0.2);
}

@media (max-height: 570px){
    .nav{
        margin-bottom: 50px;
    }
}

.nav::after{
    content: '';
    clear: both;
}

.nav a{
    color: #fff;
}

.navRight{
    float: right;
	margin: 0;
    padding: 0;
	list-style: none;
}

.navItem,
.logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}

.logo{   
	padding-left: 20px;
	float: left;
	font-size: 2rem;
	letter-spacing: 1px;
    margin-right: 0;
}

.navItem a, 
.logo a{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
}

.cover{
    font-family: "Consolas",sans-serif;    
    max-width: 300px;
	text-align: center;
	margin: 0 auto;
	color: #eee;
}

.title{
    font-weight: bold;
    font-size: 3.2rem;
	margin: 0;
    letter-spacing:3px;
	padding: 12px;
    margin-bottom: 25px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
    text-shadow: 0 0 5px #999;
}

.subTitle{
    font-size: 1.8rem;
	line-height: 30px;
	margin: 0;
	font-weight: bold;
    text-shadow: 0 0 3px #999;
}

.footer{
    font-family: "Consolas",sans-serif;
    font-size: 1.4rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-shadow: 0 0 5px #666;
}


/*动画*/

.transitionWrapper {
    position: relative;
}

:global(.transitionWrapper-enter) {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}
 
:global(.transitionWrapper-enter.transitionWrapper-enter-active) {
    opacity: 1;
}
 
:global(.transitionWrapper-leave) {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
 
:global(.transitionWrapper-leave.transitionWrapper-leave-active) {
    opacity: 0;
}