.works{
    width: 300px;
    margin: 0 auto;
    text-shadow: 0 0 5px #666;
    color: #fff;
    font-family: "Consolas",sans-serif; 
    position: relative;
}

.fireball{
    position: absolute;
    right: 0;
    top: 60px;
}

.fireball img{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.fireballTitle{
    text-align: center;
}

.title{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.list{
    font-size: 1.8rem;
    padding-left: 20px;
}

.item{
    margin-bottom: 5px;
}

.item a{
    color: #fff;
    line-height: 32px;
    padding: 0 2px 1px;
    border-bottom: 1px solid #fff;
}